/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  list-style-type: none;
}

/* Variables */
:root {
  --dark: rgba(0, 0, 0, 0.6);
  --gray: #8a8ca5;
  --light-gray: #e7e7e8;
  --primary: rgb(116, 116, 241);
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Banner Section */
.banner {
  background-image: linear-gradient(var(--dark), var(--dark)),
    url(../img//naira-notes.png);
  background-position: center;
  background-size: cover;
  /* padding-bottom: 1rem; */
}

.banner-header {
  width: 75%;
  margin: 0 auto;
  padding: 1rem 0;
}

.auth {
  float: right;
}

.auth a {
  text-decoration: none;
  padding: 1rem;
  color: var(--light-gray);
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 50px;
  border: solid 2px var(--light-gray);
}

.auth a:hover {
  color: var(--dark);
  background: var(--light-gray);
  transition: all 0.5s ease-out;
}

.logo {
  color: var(--light-gray);
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  border: solid 1px var(--light-gray);
  padding: 0.5rem;
  border-radius: 10px;
}

.banner-text {
  margin-top: 10%;
}

.banner-text h1 {
  color: var(--light-gray);
  font-size: 3rem;
  text-transform: uppercase;
}

.banner-text p {
  color: var(--light-gray);
  width: 70%;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.btn {
  border: solid 1px white;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  font-weight: 400;
  border-radius: 10px;
  margin-right: 20px;
}

.btn:hover {
  color: black;
  background: var(--light-gray);
  transition: all 0.5s ease-out;
}

/* Services Section */
.services {
  text-align: center;
  padding: 2rem 0;
}

.services h2 {
  color: var(--dark);
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.services-text {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.services-column {
  width: 28%;
  padding: 1rem;
  margin: 0 1.5rem;
  line-height: 2rem;
  background: #e6e4e4;
  border-radius: 10px;
}

.services-column h3,
p {
  color: var(--dark);
}
.services-column h3 {
  text-transform: uppercase;
}

/* Footer */
footer {
  padding: 1rem 0;
  text-align: center;
  border-top: solid 1px var(--dark);
}

/* Modal */
.bg-modal,
.bg-login-modal,
.bg-transaction-modal,
.bg-cashier-modal,
.bg-credit-debit-modal,
.bg-delete-account-modal,
.bg-add-user-account-modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.content-modal,
.content-transaction-modal {
  background: var(--light-gray);
  width: 40%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-transaction-modal {
  width: 50%;
}

.modal-active {
  visibility: visible;
}

.signup-header,
.login-header,
.create-account-header,
.transaction-header,
.cashier-header,
.credit-debit-header,
.delete-header {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--dark);
  width: 85%;
}

.signup,
.login,
.create-account,
.transaction-history,
.cashier-history {
  flex: 2;
  text-align: center;
  padding-top: 1rem;
  letter-spacing: 0.5rem;
}

.create-account {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.modal-close,
.modal-transaction-close,
.modal-cashier-close,
.modal-credit-debit-close,
.modal-delete-close {
  font-weight: bold;
  font-size: 2rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.login-form,
.signup-form,
.create-account-form,
.credit-debit-account-form {
  padding: 0 0 2rem 2rem;
  width: 90%;
}

.signup-form input,
.signup-form select,
.signup-form button,
.login-form input,
.login-form select,
.login-form button,
.create-account-form input,
.create-account-form select,
.create-account-form button {
  display: block;
  padding: 0.7rem;
  margin: 0 0 1rem;
  width: 90%;
  border-radius: 5px;
}

.signup-form input:focus,
.login-form input:focus,
.create-account-form input:focus,
.create-account-form select:focus {
  outline: 0;
  box-shadow: 0 0 0 1px var(--primary);
}

.signup-form label,
.login-form label,
.create-account-form label {
  color: var(--dark);
  font-weight: bold;
}

.credit-debit-account-form input,
.credit-debit-account-form button,
.credit-debit-account-form select {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.credit-debit-account-form label,
.credit-debit-account-form input {
  display: block;
  width: 90%;
}

.signup-form button,
.login-form button,
.create-account-form button,
.credit-debit-account-form button {
  background-color: var(--primary);
  color: var(--light-gray);
  cursor: pointer;
}

.credit-debit-account-form button {
  width: 90%;
}

.login-form .formBtn:hover,
.signup-form .formBtn:hover,
.create-account-form .formBtnCreateAccount:hover {
  box-shadow: inset 0 0 10px var(--dark);
}

/* User - Dashboard */
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #bcccf1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  background-color: #fff;
}

.sidebar a {
  color: var(--dark);
  text-decoration: none;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--dark);
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #bcccf1;
}

.sidebar .active-menu {
  background-color: #bcccf1;
  color: rgb(116, 116, 241);
}

.account-summary {
  line-height: 2rem;
  margin: 3rem 0 5rem 0;
}

.account-summary p {
  display: inline;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 1rem;
}

.account-summary p {
  font-weight: bold;
}

.main-area {
  margin: 0 auto;
}
.main-area h1 {
  margin: 2rem 0 0 2rem;
  font-size: 2rem;
}

.account-summary p {
  color: var(--dark);
}

.transaction-area {
  background-color: #fff;
  padding: 1rem;
  margin: 2rem auto;
}

.transaction-table {
  color: var(--dark);
  border-collapse: collapse;
}

.transaction-table,
th,
td {
  padding: 1rem 1.5rem;
  text-align: left;
  width: 100%;
}

td {
  border-bottom: #8a8ca5;
}

.transaction-table th {
  background-color: #bcccf1;
}

.transaction-table tr {
  border-bottom: solid 1px #bcccf1;
}

.footer-dashboard {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.viewTransaction {
  text-decoration: none;
  color: var(--dark);
}

.viewTransaction:hover {
  color: var(--primary);
  font-weight: bold;
}

/* Cashier page */

.searchbox {
  background-color: #bcccf1;
  width: 70%;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
}

.searchbox input {
  padding: 0.5rem;
}

#input-search {
  width: 70%;
  border-radius: 5px;
}

#input-btn {
  margin-left: 1rem;
  border-radius: 5px;
  border: solid 1px rgb(116, 116, 241);
  cursor: pointer;
}

.credit-account,
.debit-account,
.delete-account {
  text-decoration: none;
  color: var(--dark);
}

.credit-account:hover,
.debit-account:hover,
.delete-account:hover {
  text-decoration: underline;
  color: rgb(116, 116, 241);
}

.centered-cell {
  text-align: center;
}

/* Admin Dashboard */
.table-users {
  display: none;
}

.show-table {
  display: block;
}

.hide-table {
  display: none;
}

.admin-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-cancel,
.btn-confirm {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem 2rem;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn-cancel {
  background-color: green;
  color: #fff;
}

.btn-confirm {
  background-color: red;
  color: #fff;
}

.account-status {
  border: solid 1px var(--primary);
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  color: var(--dark);
}

.delete-account:hover {
  color: var(--primary);
}
