/* Variables */
:root {
  --dark: rgba(0, 0, 0, 0.6);
  --gray: #8a8ca5;
  --light-gray: #e7e7e8;
}

/* Media Query */
@media only screen and (max-width: 850px) {
  .banner-header,
  .banner-text p,
  .services-text {
    width: 90%;
  }

  .content-modal {
    width: 60%;
  }

  .content-transaction-modal {
    width: 95%;
  }

  .searchbox {
    padding: 0.4rem;
    width: 90%;
  }

  #input-btn,
  #input-search {
    display: block;
    width: 90%;
    margin: 0.5rem;
    /* padding: 0.2rem; */
  }

  .table-accounts,
  .table-users,
  .display-account,
  .user-transaction-table,
  .transaction-area {
    width: 90%;
    overflow-x: scroll;
  }

  .hide-text {
    display: none;
  }

  .sidebar a {
    padding: 0.4rem;
  }

  .transaction-area {
    width: 70%;
  }

  .sidebar {
    width: 10%;
    position: fixed;
    height: 100%;
  }

  .account-summary p {
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .footer-dashboard {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .services-text {
    display: flex;
    flex-wrap: wrap;
  }
  .services-column {
    width: 100%;
    margin: 1rem 0;
  }

  .banner-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-buttons .btn {
    width: 60%;
    text-align: center;
    margin-top: 1rem;
  }

  .supports {
    padding: 1rem 0;
  }

  .supports p {
    width: 90%;
  }

  .contacts-details {
    width: 90%;
  }

  .contact-form {
    width: 90%;
  }

  .content-modal {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .banner-header {
    text-align: center;
  }
  .logo {
    width: 100%;
    letter-spacing: 2rem;
  }

  .auth {
    float: none;
    margin-top: 2rem;
  }

  .banner-text {
    margin-top: 10%;
  }

  .banner-text h1 {
    font-size: 2.5rem;
  }
}
